
.principal{
    color: white;
    height: 2em;
    padding: 4em;
    padding-left: 20em;
    font-size: 2em;
    background-image: url(/assest/img/pelota-principal.PNG);
    background-size: contain;
    background-position: center;    
}
.principal p{
    padding-left: 8em;
}
.productos{
    width: 80%;
    margin:auto;
    margin-top: 1em;
}
.productos td{
    width: 50%;
    padding: 2em;
}
.productos img{
    width: 80%;
}
.productos p{
    font-size: 2em;
}

.pie{
    background-color: aqua;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-size: 2em;
}
